<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.royan.account.provider.mapper.AccountMapper">

<!--@Table account-->
 <resultMap id="BaseResultMap" type="com.royan.account.provider.model.Account">      
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="balance" column="balance" jdbcType="INTEGER"/>
    </resultMap>


</mapper>